
body {
    margin: 0;
}

.ui-page {
    font-family: 'Pontano Sans', sans-serif;
    position: absolute;
    width: 100%; height: 100%;
    
    box-sizing: border-box;
    
    margin: 0;
    margin-left: -150%;
    
    transition: all 0.8s ease-in-out;
}

.ui-page:target {
    margin-left: 0;
}

.ui-toolbar {
    position: absolute;
    margin: 0;
    top: 0;
    left: 0;
    right: 0;
    height: 48px;
    background-color: #558833;
}

.ui-content {
    position: absolute;
    margin: 0;
    top: 48px;
    left: 0;
    right: 0;
    bottom: 0;
    padding-top: 10px;
    background-color: #eeffee;
    overflow: scroll;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    align-items: flex-start;
}

@media screen and (orientation:portrait) {
    .ui-content { flex-direction: row; }
}

@media screen and (orientation:landscape) {
    .ui-content { flex-direction: column; }
}


#mentality-splash {
    background-color: #558833;
    display: block;
    
    text-align: center;
    vertical-align: middle;
    
    top:0; left: 0;
    
    z-index: 1;
    margin: 0;
}

#mentality-splash > * {
    position: relative;
    top: 33%;
    color: white;
    text-transform: uppercase;
    font-stretch: expanded;
}

#mentality-dash {
    background-color: #eeffee;
    top: 0; left: 0;
    
    margin: 0;
    
    /*display: none;*/
}

@media screen and (orientation:portrait) {
    #mentality-dash { flex-direction: row; }
}

@media screen and (orientation:landscape) {
    #mentality-dash { flex-direction: column; }
}

.ui-grp-selfcare {
    background-color: #6a437f;
}

.ui-grp-clinical {
    background-color: #9b6b3a;
}

.ui-grp-useful {
    background-color: #558833;
}

.ui-grp-crisis {
    background-color: #701a30;
}

#mentality-dash .ui-dash-widget {
    color: white;
    flex-basis: 40%;
    flex-shrink: 0;
    flex-grow: 0;
    width: 150px;
    height: 150px;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
    
    text-align: center;
    vertical-align: middle;
}

#mentality-dash .ui-dash-widget i {
    font-size: xx-large;
}

.ui-tb-btn-right {
    height: 32px;
    font-size: 32px;
    padding: 4px;
    margin: 4px;
    color: #eeffee;
    float: right;
}

.ui-tb-btn-left {
    height: 32px;
    font-size: 32px;
    padding: 4px;
    margin: 4px;
    color: #eeffee;
    float: left;
}

.ui-tb-btn-left i, .ui-tb-btn-right i {
    vertical-align: top;
}

.ui-tb-btn-left span, .ui-tb-btn-right span {
    text-transform: uppercase;
    font-size: medium;
    padding: 5px;
    vertical-align: top;
    display: inline-block;
}

#gethelp .ui-content {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.ui-gethelp-widget {
    color: white;
    width: 310px;
    border-radius: 5px;
    background-color: #701a30;
    margin: 5px;
    padding: 5px;
}

